*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgrey;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    margin: 20px 0;
    color: darkblue;
    font-weight: bolder;
}
h2{
    color: darkslateblue;
    margin-top: 20px;
    text-decoration: underline;
}
h3{
    color: darkcyan;
    margin-top: 15px;
}
p{
    margin: 10px 0;
    line-height: 1.5;
}
img{
    display: block;
    margin: 10px 0;
}